{{!-- <div>
    <button>Купити</button>
    <p>{{title}}</p>
    <span>{{price}}</span>
    <img src="{{img}}" alt="{{name}}">
</div> hw231--}}

{{!-- <div>
    <p>{{title}}</p>
    <span>{{price}}</span>
    <img src="{{img}}" alt="{{name}}">
    {{#if isAvailable}}
    <button>Купити</button>
    {{/if}}
</div> hw233 --}}

{{!-- <div>
    <div>
        <p>{{title}}</p>
        <span>{{price}}</span>
        <img src="{{img}}" alt="{{name}}">
        {{#if isAvailable}}
        <button>Купити</button>
        {{else}}
        <button>Немає в наявності</button>
        {{/if}}

    </div>
</div> hw234 --}}

{{!-- <div>
    <p>{{title}}</p>
    <span>{{price}}</span>
    <img src="{{img}}" alt="{{name}}">
    {{#unless isAvailable}}
    <button>Немає в наявності</button>
    {{/unless}}
</div> hw235 --}}